*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5em;
}
a{
    color:rgb(128, 72, 72);
}
body{
    margin:16px;
    background-color: rgb(231, 216, 216);
    color:rgb(128, 72, 72);
}

.adjustment{
    margin: 10px 0;
    border: 2px solid rgb(90, 44, 44);
    border-radius: 10px;
    padding: 10px;
    
}
ul li{
    margin:0.3em;
    list-style-type: none;
}
.inline{
    display: inline;
}